body {
    font-family: 'DotGothic16', sans-serif;
    color: #58319d;
    background-color: #9e8dd0;
}

.title-img {
    margin-bottom: -5rem;
}

.input-group {
    display: flex;
    margin: 2rem 0;
}

.input-container {
    padding: 3rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    background-color: #000;
    border: 0.5rem solid #fff;
}

.add-group {
    margin: 0 2rem;
}

input,
button {
    font-weight: 900;
    color: rgb(44, 44, 44);
    letter-spacing: 0.1rem;
    text-justify: auto;
}

.counter {
    margin: 0 0 2rem;
    text-align: center;
    font-weight: bolder;
}

.table-container {
    width: 100vw;
    padding: 0 40vw;
}

.name-table tr {
    color: #f3f3f3;
    background-color: #2f2c48;
    border-color: #11101a;
}

.group-number td {
    font-family: 'DotGothic16',
        sans-serif;
    color: #58319d;
    border: none;
    font-weight: bold;
    background-color: #9e8dd0;
}

.weight {
    text-align: center;
}